@media (max-width: 1260px) {
  .container {
    margin: 0 auto;
    width: 90%;
  }
  .about-content .about-data h2 {
    line-height: 2.5rem;
    margin: 1rem 0;
  }
}
@media (max-width: 1050px) {
  .about-content .about-data h2 {
    line-height: 2.2rem;
    margin: 2rem 0;
  }
}

@media (max-width: 920px) {
  .about-content .about-data h2 {
    line-height: 1.8rem;
  }
  section {
    padding: 2rem 0;
  }
  .nav {
    padding: 12px 0;
  }
  .heading {
    font-size: 4rem;
  }
}

@media (max-width: 850px) {
  .menu-icon {
    display: flex;
  }

  .navbar {
    position: absolute;
    top: 0;
    right: -100%;
    width: 250px;
    height: calc(100vh + 20px);
    background: var(--box-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .open-menu {
    background: rgba(13, 15, 37, 0.85);
    right: 0;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .nav-link {
    display: block;
    margin: 1rem 0;
  }
  .about-content {
    gap: 30px;
  }
}

@media (max-width: 750px) {
  .about-content .about-data h2 {
    line-height: 1.5rem;
  }
}
@media (max-width: 700px) {
  .logo {
    font-size: 1.1rem;
  }
  .home {
    min-height: 500px;
    padding-top: 6rem;
  }

  .home-text h3 {
    font-size: 1rem;
  }
  .home-text h2 {
    font-size: 3rem;
    line-height: 3.8rem;
  }
  .home-text p {
    font-size: 0.825rem;
    text-align: center;
  }
  .about-content .about-data .btn {
    margin-bottom: 1.5rem;
  }
  .about-content .about-data .skill-table {
    padding: 5px 20px;
    margin-bottom: 3rem;
  }
  .heading {
    font-size: 2.7rem;
  }

  .education-content {
    grid-template-columns: 1fr;
  }
  .about-content {
    display: block;
    .about-data {
      padding: 0;
    }
  }

  .about-data span {
    font-size: 0.9rem;
  }
  .about-data h2 {
    font-size: 1.7rem;
    line-height: 2.3rem;
    font-weight: 600;
    margin: 0.8rem 0;
  }

  .about-text p {
    font-size: 0.825rem;
    margin-bottom: 1.3rem;
  }
  .contact-form .send-btn {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .home {
    min-height: 485px;
    padding-top: 5rem;
  }
  .home-img {
    width: 140px;
    height: 140px;
  }
  .home .home-content .home-text .nameSurname {
    h2 {
      font-size: 3rem;
    }
  }

  .home-text p {
    // width: 100%;
    // padding: 0 35px 0 25px;
    text-align: justify;
  }
  .home-text p br {
    display: contents;
  }
  .heading {
    font-size: 2.5rem;
  }
  .about-data h2 {
    font-size: 1.3rem;
    line-height: 2.1rem;
    margin: 0.6rem 0;
  }

  .footer-links {
    flex-direction: column;
    row-gap: 1rem;
  }
}

@media (max-width: 450px) {
  .home .home-content .home-text .nameSurname {
    h2 {
      font-size: 2.5rem;
    }
    .g-container {
      .word {
        left: 40%;
      }
    }
  }
}
@media (max-width: 420px) {
  .home .home-content .home-text .nameSurname {
    h2 {
      line-height: 3.5rem;
    }
    .g-container {
      padding-left: 240px;
      .word {
        left: 40%;
      }
    }
  }
}

@media (max-width: 390px) {
  .menu-icon {
    margin-right: 10px;
  }
  .logo {
    margin-left: 5px;
  }
  .container {
    padding: 0 5px 0 5px;
  }
  .home {
    padding-top: 5rem;
  }
  .contact-form .send-btn,
  .education-content .education-box:last-child,
  .social {
    margin-bottom: 20px;
  }
  .navbar {
    margin-top: 69px;
    width: 100%;
    height: auto;
  }
}
@media (max-width: 360px) {
  .menu-icon {
    margin-right: 15px;
  }
  .logo {
    margin-left: 5px;
  }
  .home-img {
    margin-top: 5rem;
  }
  .container {
    padding: 0 0px 0 20px;
  }
}
@media (max-width: 300px) {
  .logo {
    margin-left: 10px;
  }

  .container {
    padding: 0 0px 0 25px;
  }
}
