@media (max-width: 1260px) {
  .container {
    margin: 0 auto;
    width: 90%;
  }
}
@media (max-width: 920px) {
  section {
    padding: 2rem 0;
  }
  .nav {
    padding: 12px 0;
  }
  .heading {
    font-size: 4rem;
  }

  .about-data {
    padding-right: 40px;
  }
}

@media (max-width: 800px) {
  .menu-icon {
    display: flex;
  }
  .navbar {
    position: absolute;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100vh;
    background: var(--box-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .open-menu {
    background: rgba(13, 15, 37, 0.85);
    right: 0;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .nav-link {
    display: block;
    margin: 1rem 0;
  }
  .about-content {
    gap: 1rem;
  }
}
@media (max-width: 700px) {
  .logo {
    font-size: 1.1rem;
  }
  .home {
    min-height: 500px;
    padding-top: 6rem;
  }

  .home-text h3 {
    font-size: 1rem;
  }
  .home-text h2 {
    font-size: 3rem;
    line-height: 3.8rem;
  }
  .home-text p {
    font-size: 0.825rem;
    text-align: center;
    padding: 0 20px;
  }
  .about-data .btn {
    margin-bottom: 2rem;
  }
  .heading {
    font-size: 2.7rem;
  }

  .education-content {
    grid-template-columns: 1fr;
  }
  .about-content {
    display: block;
    .about-data {
      padding: 0;
    }
  }

  .about-data span {
    font-size: 0.9rem;
  }
  .about-data h2 {
    font-size: 1.7rem;
    line-height: 2.3rem;
    font-weight: 600;
    margin: 0.8rem 0;
  }

  .about-text p {
    font-size: 0.825rem;
    margin-bottom: 1.3rem;
  }
  .contact-form .send-btn {
    width: 100%;
  }
}
@media (max-width: 460px) {
  .home {
    min-height: 485px;
    padding-top: 5rem;
  }
  .home-img {
    width: 140px;
    height: 140px;
  }
  .home-text h2 {
    font-size: 2.5rem;
    line-height: 4rem;
  }

  .home-text p {
    padding: 0 45px;
    text-align: justify;
  }
  .home-text p br {
    display: contents;
  }
  .heading {
    font-size: 2.5rem;
  }
  .about-data h2 {
    font-size: 1.3rem;
    line-height: 2.1rem;
    margin: 0.6rem 0;
  }
  .footer-links {
    flex-direction: column;
    row-gap: 1rem;
  }
}
@media (max-width: 325px) {
  .navbar {
    width: 100%;
  }
}
